<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.persistence.BoardDAO">
	<!-- project write -->
	<insert id="insertBoard" parameterType="org.zerock.persistence.Board">
		insert into boardTbl(writeUser, writeDate, pNo, projectDate, text, budget, pm, status)
		values(#{writeUser}, #{writeDate}, #{pNo}, #{projectDate}, #{text}, #{budget}, #{pm}, #{status});
	</insert>
	
	<!-- project List & search -->
	<select id="listBoard" parameterType="list" resultType="org.zerock.persistence.Board">
		select * from v_getBoard 
		<choose>
			<when test="type=='pName'">
				where pName like CONCAT('%', #{keyword} , '%')
			</when>
			<when test="type=='pm'">
				where pm like CONCAT('%', #{keyword} , '%')
			</when>
		</choose>
		order by bNo desc;
	</select>
	
	<!-- project view -->
	<select id="viewBoard" resultType="org.zerock.persistence.Board">
		select group_concat((a.aMName)) as aMName, b.*, (select count(distinct tMName) as joinUser from v_tasktbl) as joinUser
		from v_getBoard b left outer join v_activitytbl a on b.bNo = a.bNo where b.bNo = #{bNo};
	</select>
	
	<insert id="insertActivity" parameterType="org.zerock.persistence.Board">
		insert into activityTbl(bNo, aName, aDate, aM, aText, aWriteD, aWriteU, aStatus)
		values(#{bNo}, #{aName}, #{aDate}, #{aM}, #{aText}, #{aWriteD}, #{aWriteU}, #{aStatus});
	</insert>
	
	<select id="ActivityList" resultType="org.zerock.persistence.Board">
		select * from v_activityTbl where bNo = #{bNo} order by aNo desc limit #{pageStart}, #{perPageNum};
	</select>
	
	<select id="ActivityList1" resultType="org.zerock.persistence.Board">
		select * from v_activityTbl where bNo = #{bNo} order by aNo desc;
	</select>
	
	<select id="countList1" resultType="org.zerock.persistence.Board">
		select * from v_activityTbl where bNo = #{bNo} and aStatus = '진행중';
	</select>
	<select id="countList2" resultType="org.zerock.persistence.Board">
		select * from v_activityTbl where bNo = #{bNo} and aStatus = '대기';
	</select>
	<select id="countList3" resultType="org.zerock.persistence.Board">
		select * from v_activityTbl where bNo = #{bNo} and aStatus = '완료';
	</select>
	<select id="countList4" resultType="org.zerock.persistence.Board">
		select * from v_activityTbl where bNo = #{bNo} and aStatus = '보류';
	</select>
	
	<select id="viewActivity" resultType="org.zerock.persistence.Board">
<!-- 		select * from v_getactivityTbl where aNo = #{aNo}; -->
		select b.*, g.* from v_getBoard b left outer join v_activityTbl g on b.bNo = g.bNo where aNo = #{aNo};
	</select>
	
	<select id="listPage" parameterType="list" resultType="org.zerock.persistence.Board">
		select * from v_getBoard where bNo > 0 order by bNo desc limit #{page}, 5;
	</select>
	
	<select id="listCriteria" parameterType="list" resultType="org.zerock.persistence.Board">
		select * from v_getBoard where bNo > 0 order by bNo desc limit #{pageStart}, #{perPageNum};
	</select>
	
	<select id="countPaging" resultType="int">
		select count(bNo) from v_getBoard where bNo > 0;
	</select>
	
	<select id="countAPaging" resultType="int">
		select count(aNo) from v_activityTbl where aNo > 0 and bNo = #{bNo};
	</select>
	
	<select id="countTPaging" resultType="int">
		select count(*) from v_taskTbl where tNo > 0 and aNo = #{aNo};
	</select>
	
	<insert id="insertTask" parameterType="org.zerock.persistence.Board">
		insert into taskTbl(aNo, bNo, tName, tDate, tStatus, tM, tText, tWriteD, tWriteU)
		values(#{aNo}, #{bNo}, #{tName}, #{tDate}, #{tStatus}, #{tM}, #{tText}, #{tWriteD}, #{tWriteU});
	</insert>
	
	<select id="listTask" parameterType="list" resultType="org.zerock.persistence.Board">
		select * from v_taskTbl where aNo = #{aNo} and tNo > 0 order by tNo desc limit #{pageStart}, #{perPageNum};
	</select>
	
	<select id="viewTask" resultType="org.zerock.persistence.Board">
		select b.*, g.*, t.*, round(w.wTimeM / 60) + sum(wTimeH) as wTimeH,  mod(sum(wTimeM), 60) as wTimeM
		from v_getBoard b left outer join v_getactivityTbl g on b.bNo = g.bNo left outer join v_taskTbl t on g.aNo = t.aNo
								       left outer join worklogtbl w on w.tNo = t.tNo
		where t.tNo = #{tNo};
	</select>
	
	<select id="countTask" resultType="org.zerock.persistence.Board">
		select * from v_statusTbl where bNo = #{bNo};
	</select>
	
	<select id="taskView" resultType="org.zerock.persistence.Board">
		select * from v_getTaskTbl where aNo = #{aNo} order by field(tStatus, '진행중', '보류', '대기', '완료');
	</select>
	
	<delete id="delProject">
		delete from boardTbl where bNo = #{bNo};
	</delete>
	
	<delete id="delActivity">
		delete from activitytbl where bNo = #{bNo};
	</delete>
	
	<delete id="delTask">
		delete from tasktbl where bNo = #{bNo};
	</delete>
	
	<delete id="delA">
		delete from activitytbl where aNo = #{aNo};
	</delete>
	
	<delete id="delT">
		delete from tasktbl where aNo = #{aNo};
	</delete>
	
	<delete id="deleteTask">
		delete from tasktbl where tNo = #{tNo};
	</delete>
	
	<update id="updateP">
		update boardTbl set
			projectDate=#{projectDate}, text=#{text}, budget=#{budget}, pm=#{pm}, status=#{status}
		where bNo = #{bNo};
	</update>
	
	<update id="updateA">
		update activitytbl set
			aName=#{aName}, aDate=#{aDate}, aM=#{aM}, aText=#{aText}, aStatus=#{aStatus}
		where aNo =#{aNo};
	</update>
	
	<update id="updateT">
		update taskTbl set
			tName=#{tName}, tDate=#{tDate}, tStatus=#{tStatus}, tM=#{tM}, tText=#{tText}
		where tNo = #{tNo};
	</update>
	
	<select id="countPercent" resultType="org.zerock.persistence.Project">
		select round(ongoing/total * 100) ongoing1, round(standby/total * 100) standby1, round(complete/total * 100) complete1, round(defer/total * 100) defer1 from v_statusTbl where bNo = #{bNo};
	</select>
	
	<select id="countOrderbyUser" resultType="org.zerock.persistence.Board">
		select  aNo, tNo, tMPhoto, tMName, count(*) count,
			count(*) as total,
			COUNT(CASE WHEN tStatus = '진행중' THEN 1 END) ongoing,
			COUNT(CASE WHEN tStatus = '대기' THEN 1 END) standby,
			COUNT(CASE WHEN tStatus = '완료' THEN 1 END) complete,
			COUNT(CASE WHEN tStatus = '보류' THEN 1 END) defer
		from v_taskTbl where aNo=#{aNo} group by tMName order by count;
	</select>
	
	<select id="joinUser" resultType="org.zerock.persistence.Board">
		select count(distinct tMName) as joinUser from v_tasktbl;
	</select>
	
	<insert id="insertWorkLog" parameterType="org.zerock.persistence.Board">
		insert into worklogTbl (wDate, tNo, wText, wTimeH, wTimeM, wClient, wFileName, wWriteDate, wUser) values (#{wDate}, #{tNo}, #{wText}, #{wTimeH}, #{wTimeM}, #{wClient}, #{wFileName}, #{wWriteDate}, #{wUser});
	</insert>
	
	<select id="selectWorkLog" resultType="org.zerock.persistence.Board">
		select *,
			case dayofweek(w.wDate)
				 when '1' then '일요일'
			     when '2' then '월요일'
			     when '3' then '화요일'
			     when '4' then '수요일'
			     when '5' then '목요일'
			     when '6' then '금요일'
			     when '7' then '토요일'
     			 end as day
     from worklogTbl w left outer join userTbl u on w.wUser = u.email where tNo =#{tNo} order by wDate desc
<!--       limit 0, 5; -->
	</select>
	
	<select id="selectUserWorkLog" resultType="org.zerock.persistence.Board">
		select distinct username from worklogTbl w left outer join userTbl u on w.wUser = u.email left outer join taskTbl t on t.tNo = w.tNo where w.tNo =#{tNo} and tm != email order by wDate desc;
	</select>
	
	<select id="countWPaging" resultType="int">
		select count(wNo) from worklogtbl where wNo > 0;
	</select>
</mapper>