<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.persistence.CardDAO">
	<insert id="usageCardInsert">
		insert into usageTbl (usageDate, classifyCard, usageUser, usageCard, sales,
							  memberStore, cost, abstract1, abstract2, note)
		values (#{usageDate}, #{classifyCard}, #{usageUser}, #{usageCard}, #{sales},
				#{memberStore}, #{cost}, #{abstract1}, #{abstract2}, #{note});              
	</insert>
	
	<select id="usageCardSelect" resultType="org.zerock.persistence.Card">
		select distinct cNo, usageDate, classifyCard, usageUser, usageCard, sales, memberStore,
			   cost, abstract1, abstract2, note, vab.abName, vab2.ab2Name from usageTbl u left outer join v_abstracttbl vab on u.abstract1 = vab.abNo
               left outer join v_abstracttbl vab2 on u.abstract2 = vab2.ab2No;
	</select>
	
	<select id="sumUsageCost" resultType="int">
		select sum(cost) as count from usageTbl;
	</select>
	
	<select id="concatDate" resultType="org.zerock.persistence.Card">
		select CONCAT(YEAR(usageDate)) concatYear, CONCAT(MONTH(usageDate)) concatDate, sum(cost) sumCost from usageTbl group by concatDate;
	</select>
	
	<select id="orderByUser" resultType="org.zerock.persistence.Card">
		select CONCAT(MONTH(usageDate)) as concatDate, usageUser, sum(cost) sumCost from usageTbl group by concatDate, usageUser;
	</select>
	
	<select id="orderByAbstract" resultType="org.zerock.persistence.Card">
		select CONCAT(MONTH(usageDate)) as concatDate, abstract1, sum(cost) sumCost from usageTbl group by concatDate, abstract1;
	</select>
</mapper>