<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.persistence.RequestDAO">
	<insert id="bookRequest" parameterType="org.zerock.persistence.Request">
		insert into bookRequestTbl(bookName, writer, publisher, division, link, purpose, email, acceptcheck, requestDate)
		values (#{bookName}, #{writer}, #{publisher}, #{division}, #{link}, #{purpose}, #{email}, "승인대기", #{requestDate});
	</insert>
	
	<insert id="articleRequest" parameterType="org.zerock.persistence.Request">
		insert into goodsRequestTbl(name, maker, price, num, link, purpose, email, acceptcheck, requestDate)
		values (#{name}, #{maker}, #{price}, #{num}, #{link}, #{purpose}, #{email}, "승인대기", #{requestDate});
	</insert>
</mapper>